<html>
	<head>
		<% include ../partials/head %>
	</head>
	<body>
		<header>
			<% include ../partials/header %>
		</header>
		<div class="container">
			<% include ../partials/side_nav %>
			<div class="main-wrapper col-xs-9 col-xs-push-1">
				<% include ../shared/flashes %>
				<h1 class="pg-title">Edit Procedure</h1>
				<div class="panel panel-default">
				  <div class="panel-heading">
				  	<h3 class="panel-title">Details</h3>
				  </div>
				  <div class="panel-body">
					  <h3><%= procedure.name %></h3>
				  </div>
		  	</div>

	  		<div class="panel panel-default">
				  <div class="panel-heading">
				  	<h3 class="panel-title">Question Set</h3>
				  </div>
				  <div class="panel-body question-set-list">
				  	<form id="questions_edit" class="form-primary" method="post">
				  		<ul>
					  		<% for (var i = 0; i < procedure.questions.length; i++) { %>
					  			<li><button type="button" class="btn btn-xs btn-danger question-remove">Remove</button><%= procedure.questions[i].title %><input type="hidden" name="question" value="<%= procedure.questions[i]._id %>"></li>
				  			<% } %>
			  			</ul>
					  	<div class="new-question-container">
							  	<button type="button" class="btn btn-primary" id="question-add">Add</button>
							  	<select class="form-control" id="new-question-select">
								  	<% for (var i = 0; i < questions.length; i++) { %>
								  		<option value="<%= questions[i]._id %>"><%= questions[i].title %></option>
								  	<% } %>
							  	</select>
					  	</div>
					  	<button type="button" class="btn btn-link new-question">Add Question</button>
				  	</form>
				  </div>
	  		</div>
				<button type="submit" form="questions_edit" class="btn btn-primary save">Save</button>
				<footer>
						<% include ../partials/footer %>
				</footer>
			</div>
		</div>
	</body>
</html>