<html>
	<head>
		<% include ../partials/head %>
		<script src="/javascripts/dynamic.js"></script>
	</head>
	<body>
		<header>
			<% include ../partials/header %>
		</header>
		<div class="container main-wrapper">
			<h1 class="pg-title">Generated Survey</h1>
			<h2><%= patient.full_name() %></h2>
			<hr>
			<p><%= survey.questionSet.question1 %></p>
			<p><%= survey.questionSet.question2 %></p>
			<p><%= survey.questionSet.question3 %></p>
			<p><%= survey.questionSet.question4 %></p>
			<div id="surveyElement"></div>
			<div id="results"></div>
		<footer>
			<% include ../partials/footer %>
		</footer>
	</body>
</html>