<html>
	<head>
		<% include ../partials/head %>
	</head>
	<body>
		<% include ../partials/side_nav %>
		<% include ../partials/header %>
		<div class="container">
			<div class="main-wrapper col-sm-8 col-xs-10 col-xs-push-1">
				<% include ../shared/flashes %>
				<h1 class="pg-title">Surveys</h1>
				<div class="button-group">
					<a href="surveys/new"><button class="btn btn-primary">Create</button></a>
				</div>
				<div class="table-responsive fixed-height">
					<table class="table table-hover">
						<thead>
							<th>#</th>
							<th>Patient</th>
							<th>Status</th>
							<th>Delivered</th>
							<th>Urgency</th>
							<th>Created At</th>
							<th></th>
						</thead>
						<tbody>					
							<% for(var i = 0; i < surveys.length; i++) { %>
								<tr>
									<td>
										<%= i+1	 %>
									</td>
									<td>
										<%= surveys[i].patient.fullName() %>
									</td>
									<td>
										<div class="survey-status"><%= surveys[i].completionStatus() %><div>
									</td>
									<td>
										<div class="survey-status"><%= surveys[i].isDelivered() %><div>
									</td>
									<td>
										TODO
									</td>
									<td>
										<%= surveys[i].createdAtHumanized() %>
									</td>
									<td>
										<a href="/surveys/<%= surveys[i]._id %>"><button class="btn btn-primary btn-xs">View</button></a>
										<a href="/mailer/<%= surveys[i]._id %>"><button class="btn btn-primary btn-xs">Deliver</button></a>
										<form class="survey-actions" method="post">
											<input type="hidden" name="id" value="<%= surveys[i]._id %>">
											<button class="btn btn-danger btn-xs" onclick="return confirm('Are you sure?')">Delete</button>
										</form>
									</td>
								</tr>
							<% } %>
						</tbody>
					</table>
				</div>
				<footer>
					<% include ../partials/footer %>
				</footer>
			</div>
		</div>
	</body>
</html>